body {
  background-color: #3385b7;
}

h1 {
  color: #b2fb63;
  text-align: center;
}

h2 {
  text-align: center;
  color: white;
}

img {
  display: block;
  margin: 0 auto;
}

.link-container {
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 10px;
}

a:visited {
  color: white;
}
