body {
  background-color: #534d4a;
  max-width: 750px;
  margin: 0 auto;
}

h1 {
  color: #d16b12;
  text-align: center;
}

h2 {
  text-align: center;
  color: white;
}

p {
  text-align: center;
  color: white;
  font-size: 20px;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 15px;
}

.link-container {
  text-align: center;
  color: #fabd50;
  font-size: 18px;
  padding: 5px;
}

a:visited {
  color: #fabd50;
}
